.contactsBlock {
  padding-top: 54px;
  margin: 0 auto;
  max-width: 1125px;
  display: flex;
  align-items: center;
}

.container_contacts {
  padding: 30px 0;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
}

.container_contacts h2 {
  font-family: "Intro";
  font-size: 30px;
}

.container_contacts a {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

.container_contacts section {
  width: 440px;
  display: flex;
}
.container_socialNetwork {
  align-items: start;
  gap: 20px;
}

.contacts {
  flex-direction: column;
  gap: 30px;
}
h4 {
  font-size: 14px;
  cursor: pointer;
  color: rgb(178, 181, 187, 1);
}

.contact_img {
  width: 44px;
  height: 44px;
}

.map {
  width: 680px;
  height: 498px;
}

.contacts_Info {
  position: absolute;
  margin-top: -74px;
  margin-left: 89px;
  max-width: 426px;
  max-height: 88px;
  border: 1px solid black;
  border-radius: 4px;
  background: rgb(241, 240, 240);
  z-index: 5;
}
