.container {
  position: relative;
  margin: auto;
  max-width: 1920px;
  min-height: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(72, 66, 131, 1);
  overflow: hidden;
}

.container_header {
  margin-top: 50px;
  width: 61%;
  font-size: 30px;
  font-weight: 700;
}

.container_eleps {
  width: 541px;
  height: 541px;
  position: absolute;
  margin-left: 1380px;

  box-sizing: border-box;
  overflow: auto;
}

.container_group {
  position: absolute;
  z-index: 1;
  margin-left: 1490px;

  overflow: hidden;
}

.container section {
  max-width: 1180px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.container p {
  margin-bottom: 20px;
}
