* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Intro";
  src: url("fonts/intro.woff2");
}

body {
  position: relative;
}

#root {
  color: rgb(255, 255, 255, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: auto 0;
}
